
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --text-color: #000;
}

.dark-mode {
  --bg-color: #333;
  --text-color: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

.vtext{
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: small;
  border: 2px solid goldenrod;
  border-radius: 20px;
  padding: 0;
  font-weight: 800;
  margin-top: 100%;
}
.font{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.projectli{
overflow-x: scroll;
}
.projectli::-webkit-scrollbar{
  width: 20px;
  height: 10px;
  background-color: #43C6AC;

}
.projectli::-webkit-scrollbar-thumb{
  background-color: #444;
}
.p-li{
  background-color: #ffffff;


}
.p-li:hover{
  box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
}
.welcome{
  font-size: 6vw;
}
.welcome-sub{
  font-size: 3vw;
  color: #00ffcc;
}
 /* :root{
  --header: rgba(33, 221, 158, 0);
  --main-bg-color:rgba(255, 255, 255, 0);
  --main2-bg-color: rgba(34, 4, 6, 0.966);
  --linktree-bg-color: rgba(255, 255, 255, 0);
  --linktree-text-color:white;
  --linktree-list-bg-color: rgba(161, 177, 177, 0);
  --card-bg-color: rgba(178, 241, 192, 0);
  --card-btn-bg-color: rgb(161, 177, 177);
  --card-text-color:white;
  --card-btn-small-bg-color: rgba(224, 162, 138, 0.019);
  --skill-card-bg-color: rgba(224, 162, 138, 0.049);
  --cards-ongoing-project-bg-color: rgba(247, 255, 28, 0);
  --cards-li-project-bg-color: rgba(250, 250, 250, 0);
  --scrollbar-thumb-bg-color: rgba(235, 13, 9, 0);
} */
html,

body:-webkit-full-screen{
 background-color: #00ffcc;
 scroll-behavior: smooth;
}
body::-webkit-scrollbar{
  background: #ffffff;
  width: 8px;
}
body::-webkit-scrollbar-thumb{
  background-color: #000000;
}
.userIcon{
  width: 42px;
  height: 19px;
  border:1px solid rgb(91, 227, 67) ;

}
.banner{
  background-image: url("../public/assets/img/headerbannerc.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

}
.createAccount {
  z-index: 123;
  transition: 1s ease-out;
  width: 30%;
  height: 90%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: absolute;
  padding: 1%;
  top: 6%;
  left: 69.5%;
  border-left: 1 px solid #43C6AC;
  background: white;
  color: #444;
  margin-right: 2%;
  border-left: 2px solid rgb(75, 214, 87);
  border-right: 1px solid #00ffcc;
  border-top: 2px solid #444;
  border-radius: 10px 0px 10px 10px;
  background: linear-gradient(to bottom, #ffffff, #000000);
  box-shadow: 0 4px 10px 0 rgb(0 0 0 / 20%), 0 4px 20px 0 rgb(0 0 0 / 19%);

}

.signedSectionHeader {
  display: flex;
  flex-direction: row;

}

.userImg {
  background-color: #000000;
  border-radius: 50%;
  width: 12%;
  height: 12%;
}

.signedSectionHeaderInline {
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 50%;
}

.sSHUsername {
  padding: 2%;
  font-size: 2vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sSHemailText {
  padding: 2%;
  font-size: 1vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.p_Div::-webkit-scrollbar {
  display: none;
}

.userSection {
  position: fixed;
  z-index: 1123113;
  width: 20%;
  height: 100%;
  text-align: center;
 right: 1%;
 top: 6%;
 padding: 0.1%;
  border: 1px solid goldenrod;
  border-radius: 10px;
  background-color:rgb(218 247 255);


}


.p_Div_userProfile {
  display: flex;
  z-index: 12312313;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  border: 1px solid goldenrod;
  font-size: 1vw;
  text-align: center;
  position: absolute;
  background-color: white;
  color: black;
  height: 40%;
  width: 100%;
}
.section_1{
  display: flex;
  z-index: 12312313;
  flex-direction: row;
  justify-content: flex-start;
  border-radius: 10px;
  /* border: 1px solid goldenrod; */
  font-size: 1vw;
  text-align: center;
  background-color: white;
  color: black;
  height: 10%;
  width: 100%;
}
.p_Div_userIcon {

  border: 1px solid rgb(255, 255, 255);
  border-radius: 50% 100% 100% 100%;
  background-color: rgba(0, 0, 0, 0.514);
  width: 36px;
  height: 36px;
  overflow: hidden;
  border: 1px solid rgb(255, 184, 6);
  animation: bubbel 6s;
  transition: 10s;
  animation-iteration-count: 40;
}

@keyframes bubbel {
  0% {
      border-radius: 50% 100% 100% 100%
  }

  25% {
      border-radius: 100% 50% 100% 100%
  }

  50% {
      border-radius: 100 100% 50% 100%
  }

  75% {
      border-radius: 100% 100% 50% 50%
  }

  90% {
      border-radius: 50% 100% 100% 50%
  }
}

.p_Div_userEmail {
  padding: 6%;
  font-size: 1vw;
}
/* section - 2 */
.section_2{
  font-size: 1vw;
  font-family: 'linter';
  font-weight: 200;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  height: 30%;
  padding: 4%;
  text-align: left;
}
/* slider */
.slider{
  /* margin-left: -10%; */
  /* width: 400px; */
  width: 100%;
  /* height: 30%; */
  box-shadow: rgb(8, 208, 248) 0px 0px 0px 3px;

}
.slide{
  position: relative;
  height: 100%;
 /* border-radius: 10px; */
}
.slide1{
width: 100%;
}
.slide2{
  width: 100%;
}
.slide3{
  width: 100%;
}
.social{
  background: #00ffcc;
  color: #00ffcc;
  width: 30%;
  border-radius: 20px;
}
@media (max-width:720px) {

  .userSection{
      width: 100%;
      font-size: 2vw;
      /* margin-left: 2%; */
      /* margin-right: 2%; */
      height: 40%;
      right: 0;
      align-self: center;
  }

  .section_2{
      justify-content: center;
      font-size: 3vw;
      text-align: center;
      line-height: 2;
      margin-top: 6%;
  }
  .p_Div_userEmail{
      font-size: 2.5vw;
      padding: 2%;
  }

}

.glow-on-hover {
  width: 220px;
  height: 24px;

  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #85888853;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.btn-download{
  margin-right: 20px;
}
.btn-download-sec{
  margin-left: 10px;

}
.none{
display: none;
}
@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}


.card-linktree{
  margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    padding: 2%;
    font-size: 1vw;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 0 1px rgb(53 72 91 / 7%), 0 2px 2px rgb(0 0 0 / 1%), 0 4px 4px rgb(0 0 0 / 2%), 0 10px 8px rgb(0 0 0 / 3%), 0 15px 15px rgb(0 0 0 / 3%), 0 30px 30px rgb(0 0 0 / 4%), 0 70px 65px rgb(0 0 0 / 5%);

}

.card-linktree>a:hover{
  color: #000000;
}
/* Small devices (landscape phones, 576px and up) */
@media only screen and (max-width: 576px) {
  .social{
    width: 48%;
    padding: 10px;
    border-radius: 10px;
  }
  .mportfolio-shorts{
    margin-left: 0;
  }
 .aside{
  top: 12%;
  padding-left: 20px;
  display: none;
 }
 .mlayout{
  margin-top: 124%;
 }
 .m-portfolio-intro{
  margin-left: 0;
 }
 .download{
  margin-left: 0;
  font-size: 2vw;
  margin-top: 10px !important;
 }
.downlad-btn-p{
  padding: 1%;
}
 .m-d-btn{
  margin: 2%;
  font-size: 2vw;
 }
 .projects{
  margin-left: 0;
  background-color: #fff;
  padding-top: 30%;
 }
 .mproject-list{
  padding: 5%;
  margin: 4%;
 }
 .section_1{
/* margin-top: 20px; */
padding: 10px;

 }
 .section_2{
  margin-top: 50px;
 }
 .intro-div{
  padding-bottom: 20%;
  padding-top: 10%;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
 }
 .main{
  padding: 0;
 }
 .card-linktree{
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10%;
  font-size: 3vw;
 }
 .mlinktree-card{
  display: flex;
  flex-direction: column;
  font-size: larger;
  justify-content: flex-start;
  padding: 0;
 }
 .tag{
  font-size: 2vw;
  padding-right: 10px;
 }
}


/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* CSS rules for medium devices */
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* CSS rules for large devices */
}

/* Extra large devices (large desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* CSS rules for extra large devices */
}
