.mainHome {
    z-index: 1221212121;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justifyContent: center;
    flexDirection: column;
    height: 100%;


}


.homestrip {
    margin: 0% 0% 0% 0%;
    background-image: url('../public/assets/a.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 13.8%;
    position: absolute;

}





@media (max-width:400px) {
    .main1 {
        background-size: contain;
    }
}